<div style="
    height: 100vh;
    font-size: 50px;
    color:red;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center"
>
    Error404
    <a href="/" style="font-size: 20px">
        На начальную страничку
    </a>
</div>