<div style="margin-right: 2px">{{data.firstName}}</div>
<div style="margin-right: 2px">{{data.lastName}}</div>
<div style="margin-right: 2px">{{data.email}}</div>
<div style="margin-right: 2px">{{data.password}}</div>