{{#with data}}
    <div style="margin-right: 2px">{{firstName}}</div>
    <div style="margin-right: 2px">{{lastName}}</div>
    <div style="margin-right: 2px">{{email}}</div>
    <div style="margin-right: 2px">{{password}}</div>
{{/with}}